.titulo-cart-main {
    display: block;
    text-align: center;
    padding: 20px 0;
    font-weight: bold !important;
    font-size: 25px !important;
    text-transform: uppercase;
}

.alerta {
    position:relative;
    padding:.75rem 1.25rem;
    margin-bottom:1rem;
    border:1px solid transparent;
    border-radius:.25rem;
}

.alerta-teal-darken-3 {
    color: rgba(0, 105, 92, 1);
    background-color: rgba(0, 105, 92, 0.3);
    border-color: rgba(0, 105, 92, 0.4);
}


.alerta-red-darken-3 {
    color: rgba(198, 40, 40, 1);
    background-color: rgba(198, 40, 40, 0.3);
    border-color: rgba(198, 40, 40, 0.4);
}





.tabs .tab a{
    color: #000;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color: rgba(0, 105, 92, 0.2);
    color: #000;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color: rgba(255, 109, 0, .2) !important;
    /* color: #000; */
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color: rgba(255, 109, 0, 1);
} /*Color of underline*/




header, main, footer {
    padding-left: 180px;
}

.sidenav {
    top: 64px;

}


.hover-teal-darken-3 li:hover:not(:first-child) {
    background-color: rgba(255, 109, 0, .2) !important;
}

.menu-active {
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: rgba(255, 109, 0, 1);
}

.contenedor-div {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }

    .hidden-s {
        display: none;
    }

    .sidenav {
        top: 0;
    }

    .contenedor-div {
        padding-left: 0;
    }


}

/* SIDE NAV DE ADMINISTRADOR */
.sidenav-admin{
    position: absolute !important;
    height: 250vh !important;
}

/* Pegar el sidenav */
.sidenav-english {

  top: 0;
}




.ocultar {
    display: none
}
